

<div class="main-box">
  <%= render :partial => "layouts/sidebar" %>
  <div class="container">
    <div class="box">
    <div class="card1 text-center shadow mb-5 bg-body rounded"> 
        <div class="card1-body">
            <div class="row">
                <div class="col-md-3">
                    <%= image_tag(current_user.avatar_thumbnail)  %>
                    </br>
                    <p>
                        <%= link_to "Edit Profile", edit_user_registration_path %>
                    </p>
                </div>
                <div class="col-md-9">
                    <p><strong>Name: </strong><%= (current_user.name) %></p>
                    <p><strong>Email: </strong><%= (current_user.email) %></p>
                    <p><strong>Mobile no.: </strong><%= (current_user.contactnumber) %></p>
                </div>
            </div>
        </div>
        <div class="card-footer text-muted">
          
        </div>
      </div>
    </div>
  </div>
</div>1