

<div class="main-box">
  <%= render :partial => "layouts/sidebar" %>
  <div class="container">
    <div class="row ms-auto mt-3">
      <div class="col-md-4">
        <div class="card text-center"style="width: 18rem;">
          <div class="card-body">
            <h6 class="card-title text-dark"> Total Users</h6>
             <strong><p class="card-text"><%= pluralize(User.count ,"User")%></p></strong>
            <a><%= link_to 'See Users', users_path, class:"btn btn-primary"%> </a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-center"style="width: 18rem;">
          <div class="card-body">
            <h6 class="card-title text-dark"> Total Books</h6>
             <strong><p class="card-text"><%= pluralize(Book.count ,"books")%></p></strong>
            <a><%= link_to 'See Books', books_path, class:"btn btn-primary"%> </a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-center"style="width: 18rem;">
          <div class="card-body">
            <h6 class="card-title text-dark"> Purchases</h6>
            <strong><p class="card-text"><%= pluralize(User.count ,"User")%></p></strong>
            <a><%= link_to 'See Users', users_path, class:"btn btn-primary"%> </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>