<div class="main-box">
  <%= render :partial => "layouts/sidebar" %>
  <div class="container-fluid">
      <div class="search">
          <%= search_form_for @q do |f|%>
          <div class="search-area">
           <div >
              <%= f.search_field :email_cont, class: "fa fa-search search-box" %>
              <%= f.submit class: "fa fa-search search-button " %>
            </div>
          </div>
          <% end %>
      </div>
    <div class="box shadow rounded">
      <table class="table table-hover table-striped table-bordered">
          <thead>
            <tr>
                <th>S.no</th> 
                <th>Name</th> 
                <th>Email</th> 
                <th colspan="2">Actions</th> 
            </tr>
          </thead>
        <tbody>
          <% @users.each do |user| %>
              <tr>
                  <td><%= user.id %></td>
                  <td><%= user.name %></td>
                  <td><%= user.email %></td>
                  <td><%= link_to "View" , user_path(user), class: "btn btn-warning" %></td>
                  <td><%= link_to "Remove" , user_path(user), class: "btn btn-danger", method: :delete, data: {confirm: "are you sure!!"} %></td>
              </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>