<div class="container">
    <div class="col-5">
        <div class="address-form">
            <div class="form shadow rounded">
                <div class="otp-form">
                <%= form_with scope: :address, url: addaddress_path, method: :post do |form| %>
                <div class="form-group">
                    <%= form.label :FirstName %></br>
                    <%= form.text_field :first_name %>
                </div>
                <div class="form-group">
                    <%= form.label :LastName %></br>
                    <%= form.text_field :last_name %>
                </div>
                <div class="form-group">
                    <%= form.label :Contact %></br>
                    <%= form.text_field :contactnumber %>
                </div>
                <div class="form-group">
                    <%= form.label :Pincode %></br>
                    <%= form.text_field :pincode %>
                </div>
                <div class="form-group">
                    <%= form.label :City %></br>
                    <%= form.text_field :city %>
                </div>
                <div class="form-group">
                    <%= form.label :State %></br>
                    <%= form.text_field :state %>
                </div>
                <div class="form-group">
                    <%= form.label :Country %></br>
                    <%= form.text_field :country %>
                </div>
                <div class="form-group">
                    <%= form.label :landmark %></br>
                    <%= form.text_field :landmark %>
                </div>
                <div class="form-group">
                    <%= form.hidden_field :user_id, value: current_user.id  %>
                </div>
                <div class="form-group">
                    <%= form.submit  %>
                </div>
                <% end %>
                </div>
            </div>
        </div>
    </div>
</div>