
<div class="container">
   <div class="book-box">
        <div class="col-6 p-0">
            <div class="card">
                <div class="address-content">
                    <li><strong class="address-text">Name: </strong><%=@address.first_name%><%=@address.last_name%></li>
                    <li><strong class="address-text">Contact: </strong><%=@address.contactnumber%></li>
                    <li><strong class="address-text">Pincode: </strong><%=@address.pincode%></li>
                    <li><strong class="address-text">City: </strong><%=@address.city%></li>
                    <li><strong class="address-text">State: </strong><%=@address.state%></li>
                    <li><strong class="address-text">Country: </strong><%=@address.country%></li>
                    <li><strong class="address-text">Locality: </strong><%=@address.landmark%></li>
                </div>
            </div>   
        </div>
    </div>
    <%# <%= link_to "add address", addressform_path, method: :get, class: "btn btn-primary"%> 
    </br>
    <div class="card-button">
        <%= link_to "Edit address", edit_path, class: "btn btn-primary m-1"%>
        
        <%= button_to "Payment", checkout_create_path, params: {id: @order.id}, remote: true, class:"btn btn-info m-1" %>
    </div>
</div> 