<% @order.update(state: 0)%>
<div class="container">
   <div class="book-box">
      <div class="row ">
         <div class="col-8">
         <% if @order.lineitems.present? %>
            <% @order.lineitems.each do |x|%>
               <div class="row mb-4">
                  <div class="col-4" >
                     <%= image_tag x.book.avatar_thumbnail %>
                  </div>
                  <div class="col-8" >
                     <strong><%= x.book.bname%></strong>
                     <p class="m-0"><strong>Purchase Type: </strong> <%= x.purchase_type%></p>  
                     <p class="m-0"><strong>Category: </strong> <%= x.book.category.title%></p>
                     <% if x.purchase_type=="rent"%>   
                           <strong>Book Price: </strong> <span><%= x.price%></br>
                           <strong>Weeks: </strong> <span><%= x.time_period%></br>
                           <strong>Rent price / week: </strong> 20% </br>
                           <strong>Net Price: </strong> <span><%= x.total_price%>
                     <%else%>
                        <strong >Book Price: </strong> <%= x.price%> Rs </br>
                        <strong>Quantity: </strong> <%= x.quantity%> </br>
                        <strong>Net Price: </strong> <%= x.total_price%>
                     <%end%>
                     </br>
                     <%= link_to "Back" , books_path, class: "btn btn-outline-dark mt-2"%>
                     <%= link_to "Remove" , lineitem_path(x), class: "btn btn-danger mt-2", method: :delete, data: {confirm: "are you sure!!"} %>
                  </div>
               </div>
            <%end%>
         <%else%>
            <h3>!! Your Shopping Cart is Empty</h3>
            <hr>
            <%= link_to "Continue Shopping", books_path, class: "btn btn-success mt-2"%>
         <%end%>
         </div>
         <div class="col-4">
            <div class= "order-sum">
               <h3> Order Summary</h3>
               <hr>
               <strong><p>Total Books :<%= all_quantity.pluck(:quantity).sum { |x| x.nil? ? 1 : x } %></p></strong> 
               <strong><p>Order Price :<%=   all_lineitems.pluck(:total_price).sum %></p><strong>
               <%= link_to "Proceed to buy", address_path, class:"btn btn-warning" %>
            </div>
         </div>
      </div>
   </div>
</div>

