<div class="container">
   <div class="book-box">
      <div class="row ">
         <div class="col-8">
            <% @order.lineitems.each do |x|%>
               <div class="row mt-4">
                  <div class="col-4" >
                     <%= image_tag x.book.avatar_thumbnail %>
                  </div>
                  <div class="col-8" >
                     <%= x.book.bname%>
                     <p class="mb-2">Purchase Type: <%= x.purchase_type%></p>  
                     <p>Category: <%= x.book.category.title%></p>
                     <% if x.purchase_type=="rent"%>
                        <div class="book-price">   
                           <p>Rent Price: <span><%= x.price%></span> Rs</p>
                        </div>
                        <%else%>
                        <p class="mt-2">Book Price: <%= x.price%> Rs</p>
                     <%end%>

                     <%= link_to "Remove" , lineitem_path(x), class: "btn btn-success", method: :delete, data: {confirm: "are you sure!!"} %>
                  </div>
               </div>
            <%end%>
         </div>
         <div class="col-4">
         <strong><p>Total books :<%= @order.lineitems.count %></p></strong>      
          <strong><p>Total price :<%= all_lineitems.pluck(:price).compact.sum %></p><strong>
          <% if current_user.address.present? %>
            <%= link_to "Proceed", address_path, class:"btn btn-danger" %>
         <%else%>
            <%= link_to "add address", addressform_path, method: :get, class: "btn btn-primary" %>
         <%end%>
           <%# <%= button_to "Payment", checkout_create_path, params: {id: @order.id}, remote: true, class:"btn btn-info m-1" %> 
           
         </div>
      </div>
   </div>
</div>

