<nav class="navbar navbar-expand">
  <div class="container">
    <%=link_to "BookABook", books_path, class: "navbar-brand", id: "logo" %>
   <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item active">
        
          <% if current_user %>
          
            <li class="nav-item "><a class="nav-link welcome"><strong>Welcome!</strong></a></li>
            <li class=""><strong><%= link_to current_user.name, new_user_registration_path, class: "nav-link" %></strong></li>
            <%= image_tag(current_user.avatar_thumbnail,  :class=> "img-circular") %>
            <li class="nav-item"><strong><%= link_to 'All Books', books_path, class: "nav-link" %></strong></li>

            <div class=" nav-item dropdown">
              <a class=" nav-link dropbtn"><strong>Categories</strong></a>
                <div class="dropdown-content">
                  <% all_categories.each do |category |%>
                    <li><%= link_to category.title, category_path(category), class: "dropdown-item"%></li>
                  <%end %>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </div>
            </div>

              <div class=" nav-item dropdown">
                <a class=" nav-link dropbtn"><strong>Setting</strong></a>
                <div class="dropdown-content">
                  <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
                  <li><%= link_to "Edit Profile", edit_user_registration_path, class: "dropdown-item" %></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </div>
              </div>

            <li><%= link_to '', cart_path,  class:"fa fa-shopping-cart nav-item nav-link  m-auto cart-icon" %></li>
            <%# <li class="text-light"><%= current_user.orders.last.lineitems.count%>

            <% else %>
            
            <li class="nav-item"><strong><%= link_to 'Sign Up', new_user_registration_path, class: "nav-link" %></strong></li>
            <li class="nav-item"><strong><%= link_to 'Sign In', new_user_session_path, class: "nav-link" %></strong></li>
            
          <% end %>

        </li>
      </ul>
    </div>
  </div>
</nav>


