<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <%=link_to "BookStore", books_path, class: "navbar-brand", id: "logo" %>
   <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item active">
        
          <% if current_user %>
          
            <li class="nav-item"><a class="nav-link">Welcome!</a></li>
            <li class="nav-item"><%= link_to current_user.name, new_user_registration_path, class: "nav-link" %></li>
            <%= image_tag(current_user.avatar_thumbnail,  :class=> "img-circular") %>
            <li class="nav-item"><%= link_to 'All Books', books_path, class: "nav-link" %></li>
            
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                  Categories
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <% all_categories.each do |category |%>
                    <li><%= link_to category.title, category_path(category), class: "dropdown-item"%></li>
                  <%end %>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    Setting
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
                  <li><%= link_to "Edit Profile", edit_user_registration_path, class: "dropdown-item" %></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>

            <li><%= link_to '', cart_path,  class:"fa fa-shopping-cart nav-item nav-link  m-auto cart-icon" %></li>
            <li class="text-light"><%= current_user.orders.last.lineitems.count%></li>

            <% else %>
            
            <li class="nav-item"><%= link_to 'Create Account', new_user_registration_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to 'Sign in', new_user_session_path, class: "nav-link" %></li>
            
          <% end %>

        </li>
      </ul>
    </div>
  </div>
</nav>


