<%# <div class = "sidebar"> %>
<div class="d-flex flex-column flex-shrink-0 p-3 sidebar" style="width: 250px; min-height: calc(100vh - 56px); ">
    <%# <a href="/" class=" align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4">Sidebar</span>
    </a> %>
   <%# <p class="side-image"><%= image_tag(current_user.avatar_thumbnail,  :class=> "img1-circular ") %>

    <% if current_user.try(:admin) %>
      <ul class="nav nav-pills flex-column mb-auto text-center">
        <li class="nav-item mt-2">
          <%= link_to " HOME", admins_path, class: "fa fa-home nav-link link-dark" %>
        </br>
          <%= link_to " USERS", users_path, class: "fa fa-user nav-link link-dark" %>
        </br>
          <%= link_to " ADD BOOK", new_book_path, class: "fa fa-plus nav-link link-dark" %>
        </br>
          <%= link_to " BOOKS", books_path, class: "fa fa-book nav-link link-dark" %>
        </li>
      <ul>
      <% else %>
      <ul class="nav nav-pills flex-column mb-auto text-center">
      <div class="filter-box">
        <div class="filter-area">
         <li class="price-title ">PRICE</li>
         <%= form_for "", url: books_path, role: "search", method: :get do %>
            <div class="price-body">
               <p class="price-field"><%= text_field_tag :searchp, @search_pricen_term, placeholder: "Min.." , class: " form-control shadow rounded "%></p>
               <p class="price-field"><%= text_field_tag :searchpx, @search_pricex_term, placeholder: "Max..", class: " form-control shadow rounded ml-1 "%></p>
            </div>
            </br>
            <%# <p class="price-field"><%= text_field_tag :book_language, @book_language, placeholder: "lang..", class: " form-control shadow rounded "%>
            <div class="check-box-align">
              <div>
                <input class="form-check-input" type="radio" name="book_language" value="English" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">English</label>
              </div>
              <div>
                <input class="form-check-input" type="radio" name="book_language" value="Hindi" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">Hindi</label>
              </div>
            </div>
            <%= submit_tag "GO", class:"btn btn-outline-dark "%>
          <% end %>
        </div>
      </div>
      </ul>
    <% end %>
  </div>
